body {
    background-color: lightgrey;
    color: black;
    font-family: arial;
}
h1 {
    
}

a {
    color: slategrey;
}
a:hover {
    color: darkslategrey;
}
#navbar-brand-top {
    color: black;
}
.navbar-default .navbar-nav>li>a {
    color: slategrey;
    margin-top: 10px;
    font-size: 120%;
}
.navbar-default .navbar-nav>li>a:hover{
    color: darkslategrey;
}
.navbar {
    border-bottom: 5px solid darkslategrey;
    background-color: ghostwhite;
    height: 70px;

}
#about-wheel {
    max-height: 60px;
    max-width: 60px;
    margin-top: -10px;
    display: inline-block;
    float: left;
}
.navbar-text {
    margin-top:0px;
    display: inline-block;
}

section {
    border-bottom: 3px solid black;
    padding: 15px;
}

.drum-section{
    background-color: linen;
    color: grey;
    margin-top: 40px;

}
.drum-section h1 {
    font-weight: bold;
    text-decoration: underline;
}
#drum-text {
    display: hidden;
}
#drums-row {
    max-height: 400px;
    max-width: 400px;
    border-radius: 10px;
    border: 3px solid darkslategrey;
    margin: 0 auto;
    margin-top: 55px;
}

#programs {
    padding-top: 30px;

}
.programs-section {
    background-color: indianred;
    color: black;
}

#philosophy {
    /*padding: 30px;*/
}
.philosophy-section {
    background-color: dimgrey;
    color: whitesmoke;
}
#data {
    /*padding: 30px;*/
}
.data-section {

    background-color: ivory;
}
#about{

}
.about-section{

}
#footer{
    padding: 30px;
}

.footer-section {
    background-color: lightgrey;
}