* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: lightgrey;
    color: black;
    font-family: arial;
}
.container {
    margin: 0;
}
.row {
    margin: 0;
}
h1 {
    
}

a {
    color: slategrey;
}
a:hover {
    color: darkslategrey;
}
section {
    border-bottom: 3px solid black;
    /*padding: 15px;*/
    background-color: hsla(225, 23%, 74%, 0.8);
    /*border-radius: 20px;*/
    /*border: 1px solid hsla(225, 23%, 74%, 0.18);*/
}
#navbar-brand-top {
    color: black;
}
.navbar-default .navbar-nav>li>a {
    color: slategrey;
    margin-top: 10px;
    font-size: 120%;
}
.navbar-default .navbar-nav>li>a:hover{
    color: darkslategrey;
}
.navbar {
    border-bottom: 5px solid darkslategrey;
    background-color: ghostwhite;
    height: 70px;

}
.navbar-default .navbar-toggle .collapse {
  border-color: #563D7C;
  background-color: black;
}
.nav-custom {
    background-color: ghostwhite;
    opacity: .9;
    border: transparent;

}
/*.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: #563D7C;
}*/
button.navbar-toggle {
    opacity: .9;
    margin-top: 20px;
}
#about-wheel {
    max-height: 60px;
    max-width: 60px;
    margin-top: -10px;
    display: inline-block;
    float: left;
}
.navbar-text {
    margin-top:0px;
    display: inline-block;
}

.content {
    margin: 0 auto;
    padding: 30px;   
}

.section-box {
    background-color: hsla(225, 23%, 74%, 0.2);
    border-radius: 20px;
    border: 3px solid hsla(225, 23%, 74%, 0.4);
    margin-top: 22px;
}
.section-box:hover {
    background-color: hsla(225, 23%, 74%, 0.4);
    border-radius: 20px;
    border: 3px solid hsla(225, 23%, 74%, 0.6);
}

.section-header {
    
}
.section-header h1 {
    margin-top: -10px;
}

.top-lower {
    margin-top: 45px;
}

#drums { 
border-top: 70px solid transparent;
margin-top: -50px;
-webkit-background-clip: padding box;
-moz-background-clip: padding;
background-clip: padding-box;
}

.drum-section{
    background-color: powderblue;
    color: grey;
    padding-top: 40px;

}
.drum-section h1 {
    font-weight: bold;
    text-decoration: underline;
}


#drums-row {
    max-height: 80%;
    max-width: 80%;
    border-radius: 15px;
    border: 3px solid darkslategrey;
    margin: 0 auto;
    margin-top: 12px;
}

#programs { 
border-top: 50px solid transparent;
margin-top: -50px;
-webkit-background-clip: padding box;
-moz-background-clip: padding;
background-clip: padding-box;
}

#programs-img {
    border-radius:50%;
    border: 8px solid darkslategrey;

}
.programs-section {
    background-color: linen;
    color: dimgrey;
    /*margin-top: 25px;*/
}

#philosophy {
    /*padding: 30px;*/
}
.philosophy-section {
    background-color: dimgrey;
    color: whitesmoke;
}
#data {
    /*padding: 30px;*/
}
.data-section {

    background-color: ivory;
}
#about{

}
.about-section{

}
#footer{
    padding: 30px;
}

.footer-section {
    background-color: lightgrey;
}